schemas/xslt20.rnc

# $Id: xslt20.rnc,v 1.1 2004/07/24 22:37:02 ndw Exp $

# This was mostly generated from the syntax summary in the XSLT 1.0
# Recommendation (using XSLT of course) by James. Norm hacked at it
# a bit to make it validate XSLT 2.0.

# Issues: this validates extension elements as literal result
# elements, which is overly restrictive.

namespace local = ""
default namespace xsl = "http://www.w3.org/1999/XSL/Transform"

start =
  stylesheet.element
  | transform.element
  | literal-result-element-as-stylesheet

version = "2.0"

top-level-elements.model =
  (declaration.category | top-level-extension)*

top-level-extension =
  element * - (xsl:* | local:*) {
    grammar {
      start = any
      any =
        (attribute * { text }
         | text
         | element * { any })*
    }
  }

template.model = (instruction.category | literal-result-element | text)*

literal-result-element-as-stylesheet =
  element * - xsl:* {
    attribute xsl:version { version },
    literal-result-element-no-version.atts,
    template.model
  }

literal-result-element =
  element * - xsl:* { literal-result-element.atts, template.model }

literal-result-element.atts =
  literal-result-element-no-version.atts,
  attribute xsl:version { version }?

literal-result-element-no-version.atts =
  (attribute * - xsl:* { avt.datatype }
   | attribute xsl:extension-element-prefixes { prefixes.datatype }
   | attribute xsl:exclude-result-prefixes { prefixes.datatype }
   | attribute xsl:use-attribute-sets { qnames.datatype })*

declaration.category =
   attribute-set.element
 | character-map.element
 | decimal-format.element
 | function.element
 | import-schema.element
 | include.element
 | key.element
 | namespace-alias.element
 | output.element
 | param.element
 | preserve-space.element
 | strip-space.element
 | template.element
 | variable.element

instruction.category =
   analyze-string.element
 | apply-imports.element
 | apply-templates.element
 | attribute.element
 | call-template.element
 | choose.element
 | comment.element
 | copy.element
 | copy-of.element
 | element.element
 | fallback.element
 | for-each.element
 | for-each-group.element
 | if.element
 | message.element
 | namespace.element
 | next-match.element
 | number.element
 | perform-sort.element
 | processing-instruction.element
 | result-document.element
 | sequence.element
 | text.element
 | value-of.element
 | variable.element

extension.atts = attribute * - (xsl:* | local:*) { text }*

stylesheet.element = element stylesheet { stylesheet.model }

transform.element = element transform { stylesheet.model }

stylesheet.model =
   extension.atts,
   attribute id { xsd:NCName }?,
   attribute extension-element-prefixes { prefixes.datatype }?,
   attribute exclude-result-prefixes { prefixes.datatype }?,
   attribute version { version },
   attribute xpath-default-namespace { xsd:anyURI }?,
   attribute default-validation { "strict" | "lax" | "preserve" | "strip" }?,
   (import.element*, top-level-elements.model)

include.element =
  element include {
    extension.atts,
    attribute href { xsd:anyURI }
  }

import.element =
  element import {
    extension.atts,
    attribute href { xsd:anyURI }
  }

import-schema.element =
   element import-schema {
      extension.atts,
      attribute namespace { xsd:anyURI }?,
      attribute schema-location { xsd:anyURI }?
   }

strip-space.element =
  element strip-space {
    extension.atts,
    attribute elements { wildcards.datatype }
  }

preserve-space.element =
  element preserve-space {
    extension.atts,
    attribute elements { wildcards.datatype }
  }

template.element =
   element template {
      extension.atts,
      attribute match { pattern.datatype }?,
      attribute name { qname.datatype }?,
      attribute priority { number.datatype }?,
      attribute mode { qname.datatype }?,
      attribute as { sequence.datatype }?,
      (param.element*, template.model)
   }

apply-templates.element =
  element apply-templates {
    extension.atts,
    attribute select { expression.datatype }?,
    attribute mode { qname.datatype }?,
    (sort.element | with-param.element)*
  }

apply-imports.element = element apply-imports { extension.atts }

call-template.element =
   element call-template {
      extension.atts,
      attribute name { qname.datatype },
      with-param.element*
   }

namespace-alias.element =
  element namespace-alias {
    extension.atts,
    attribute stylesheet-prefix { prefix.datatype },
    attribute result-prefix { prefix.datatype }
  }

element.element =
   element element {
      extension.atts,
      attribute name { qname.datatype | expr-avt.datatype },
      attribute namespace { xsd:anyURI | brace-avt.datatype }?,
      attribute use-attribute-sets { qnames.datatype }?,
      attribute type { xsd:QName }?,
      attribute validation { "strict" | "lax" | "preserve" | "strip" }?,
      template.model
   }

attribute.element =
   element attribute {
      extension.atts,
      attribute name { qname.datatype | expr-avt.datatype },
      attribute namespace { xsd:anyURI | brace-avt.datatype }?,
      attribute separator { text }?,
      attribute type { xsd:QName }?,
      attribute validation { "strict" | "lax" | "preserve" | "strip" }?,
      (attribute select { expression.datatype }?
       | template.model)
   }

attribute-set.element =
   element attribute-set {
      extension.atts,
      attribute name { qname.datatype },
      attribute use-attribute-sets { qnames.datatype }?,
      attribute.element*
   }

text.element =
   element text {
      extension.atts,
      attribute disable-output-escaping { "yes" | "no" }?,
      text
   }

processing-instruction.element =
   element processing-instruction {
      extension.atts,
      attribute name { xsd:NCName | expr-avt.datatype },
      attribute select { expression.datatype }?,
      template.model
   }

comment.element =
   element comment {
      extension.atts,
      attribute select { expression.datatype }?,
      template.model
   }

copy.element =
   element copy {
      extension.atts,
      attribute copy-namespaces { "yes" | "no" }?,
      attribute use-attribute-sets { qnames.datatype }?,
      attribute type { xsd:QName }?,
      attribute validation { "strict" | "lax" | "preserve" | "strip" }?,
      template.model
   }

value-of.element =
   element value-of {
      extension.atts,
      attribute select { expression.datatype },
      attribute disable-output-escaping { "yes" | "no" }?
   }

number.element =
   element number {
      extension.atts,
      attribute level {
         xsd:string "single" | xsd:string "multiple" | xsd:string "any"
      }?,
      attribute count { pattern.datatype }?,
      attribute from { pattern.datatype }?,
      attribute value { expression.datatype }?,
      attribute format { avt.datatype }?,
      attribute lang { xsd:NMTOKEN | expr-avt.datatype }?,
      attribute letter-value {
         xsd:string "alphabetic"
       | xsd:string "traditional"
       | expr-avt.datatype
      }?,
      attribute grouping-separator { char.datatype | expr-avt.datatype }?,
      attribute grouping-size { number.datatype | expr-avt.datatype }?,
      attribute select { expression.datatype },
      attribute ordinal { text }?
   }

for-each.element =
   element for-each {
      extension.atts,
      attribute select { expression.datatype },
      (sort.element*, template.model)
   }

if.element =
   element if {
      extension.atts,
      attribute test { expression.datatype },
      template.model
   }

choose.element =
   element choose {
      extension.atts,
      (when.element+, otherwise.element?)
   }

when.element =
   element when {
      extension.atts,
      attribute test { expression.datatype },
      template.model
   }

otherwise.element =
   element otherwise {
      extension.atts,
      template.model
   }

# what about the sequence constructor now allowed in sort?
sort.element =
   element sort {
      extension.atts,
      attribute select { expression.datatype }?,
      attribute lang { xsd:NMTOKEN | expr-avt.datatype }?,
      attribute data-type {
         xsd:string "text"
       | xsd:string "number"
       | qname-but-not-ncname.datatype
       | expr-avt.datatype
      }?,
      attribute order {
         xsd:string "ascending"
       | xsd:string "descending"
       | expr-avt.datatype
      }?,
      attribute case-order {
         xsd:string "upper-first"
       | xsd:string "lower-first"
       | expr-avt.datatype
      }?
   }

variable.element =
   element variable {
      extension.atts,
      attribute name { qname.datatype },
      attribute as { sequence.datatype }?,
      (attribute select { expression.datatype }
       | template.model)
   }

param.element =
   element param {
      extension.atts,
      attribute name { qname.datatype },
      attribute as { sequence.datatype }?,
      attribute required { "yes" | "no" }?,
      attribute tunnel { "yes" | "no" }?,
      (attribute select { expression.datatype }
       | template.model)
   }

copy-of.element =
   element copy-of {
      extension.atts,
      attribute copy-namespaces { "yes" | "no" }?,
      attribute type { xsd:QName }?,
      attribute validation { "strict" | "lax" | "preserve" | "strip" }?,
      attribute select { expression.datatype }
   }

with-param.element =
   element with-param {
      extension.atts,
      attribute name { qname.datatype },
      attribute as { sequence.datatype }?,
      attribute tunnel { "yes" | "no" }?,
      (attribute select { expression.datatype }
       | template.model)
   }

key.element =
   element key {
      extension.atts,
      attribute name { qname.datatype },
      attribute match { pattern.datatype },
      attribute use { expression.datatype }?,
      attribute collation { xsd:anyURI }?
   }

decimal-format.element =
   element decimal-format {
      extension.atts,
      attribute name { qname.datatype }?,
      attribute decimal-separator { char.datatype }?,
      attribute grouping-separator { char.datatype }?,
      attribute infinity { text }?,
      attribute minus-sign { char.datatype }?,
      attribute NaN { text }?,
      attribute percent { char.datatype }?,
      attribute per-mille { char.datatype }?,
      attribute zero-digit { char.datatype }?,
      attribute digit { char.datatype }?,
      attribute pattern-separator { char.datatype }?
   }

message.element =
   element message {
      extension.atts,
      attribute terminate { xsd:string "yes" | xsd:string "no" }?,
      (attribute select { expression.datatype }?
       | template.model)
   }

fallback.element =
   element fallback {
      extension.atts,
      template.model
   }

output.element =
   element output {
      extension.atts,
      attribute name { xsd:QName }?,
      attribute method {
         xsd:string "xml"
       | xsd:string "html"
       | xsd:string "xhtml"
       | xsd:string "text"
       | qname-but-not-ncname.datatype
      }?,
      attribute cdata-section-elements { qnames.datatype }?,
      attribute doctype-public { text }?,
      attribute doctype-system { text }?,
      attribute encoding { text }?,
      attribute escape-uri-attribute { "yes" | "no" }?,
      attribute include-content-type { "yes" | "no" }?,
      attribute indent { xsd:string "yes" | xsd:string "no" }?,
      attribute media-type { text }?,
      attribute normalize-unicode { "yes" | "no" }?,
      attribute omit-xml-declaration { xsd:string "yes" | xsd:string "no" }?,
      attribute standalone { xsd:string "yes" | xsd:string "no" }?,
      attribute undeclare-namespaces { "yes" | "no" }?,
      attribute use-character-maps { rqnames.datatype }?,
      attribute version { xsd:NMTOKEN }?
   }

analyze-string.element =
   element analyze-string {
      attribute select { expression.datatype },
      attribute regex { text },
      attribute flags { text }?,
      (matching-substring.element?,
         non-matching-substring.element?,
         fallback.element*)
   }

matching-substring.element =
   element matching-substring {
      template.model
   }

non-matching-substring.element =
   element non-matching-substring {
      template.model
   }

character-map.element =
   element character-map {
      attribute name { xsd:QName },
      attribute use-character-maps { rqnames.datatype }?,
      output-character.element*
   }

output-character.element =
   element output-character {
      attribute character { char.datatype },
      attribute string { text }
   }

function.element =
   element function {
      attribute name { xsd:QName },
      attribute as { sequence.datatype }?,
      attribute override { "yes" | "no" }?,
      (param.element*, template.model)
   }

for-each-group.element =
   element for-each-group {
      attribute select { expression.datatype },
      attribute group-by { expression.datatype }?,
      attribute group-adjacent { expression.datatype }?,
      attribute group-starting-with { pattern.datatype }?,
      attribute group-ending-with { pattern.datatype }?,
      attribute collation { xsd:anyURI }?,
      (sort.element*, template.model)
   }

namespace.element =
   element namespace {
      attribute name { xsd:NCName }?,
      (attribute select { expression.datatype }
       | template.model)
   }

next-match.element =
   element next-match {
      ((with-param.element|fallback.element)*)
   }

perform-sort.element =
   element perform-sort {
      attribute select { expression.datatype }?,
      (sort.element+, template.model)
   }

result-document.element =
   element result-document {
      attribute format { xsd:QName }?,
      attribute href { xsd:anyURI }?,
      attribute validation { "strict" | "lax" | "preserve" | "strip" }?,
      attribute type { xsd:QName }?,
      template.model
   }

sequence.element =
   element sequence {
      attribute as { sequence.datatype }?,
      (attribute select { expression.datatype }?
       | template.model)
   }

prefixes.datatype = list { (xsd:NCName | "#default")* }
prefix.datatype = xsd:NCName | "#default"
wildcards.datatype =
  list {
    (xsd:QName
     | xsd:token { pattern = "\*|\i\c*:\*" })*
  }
qname.datatype = xsd:QName
qnames.datatype = list { xsd:QName* }
rqnames.datatype = list { xsd:QName+ }
char.datatype = xsd:string { length = "1" }
number.datatype = xsd:decimal
expression.datatype = text
sequence.datatype = text
pattern.datatype = text
qname-but-not-ncname.datatype = xsd:QName { pattern = ".*:.*" }
# An AVT containing at least one expression.
expr-avt.datatype =
  xsd:string {
    pattern =
      """([^\{\}]|\{\{|\}\})*\{([^"'\{\}]|"[^"]*"|'[^']*')+\}([^\{\}]|\{\{|\}\}|\{([^"'\{\}]|"[^"]*"|'[^']*')+\})*"""
  }
# An AVT containing at least one brace; ie where instantiated AVT
# is not the same as the literal AVT.
brace-avt.datatype =
  xsd:string {
    pattern =
      """[^\{\}]*(\{\{|\}\}|\{([^"'\{\}]|"[^"]*"|'[^']*')+\})([^\{\}]|\{\{|\}\}|\{([^"'\{\}]|"[^"]*"|'[^']*')+\})*"""
  }
avt.datatype =
  xsd:string {
    pattern =
      """([^\{\}]|\{\{|\}\}|\{([^"'\{\}]|"[^"]*"|'[^']*')+\})*"""
  }
